global:
  scrape_interval: 15s
  evaluation_interval: 15s

# Add rule files configuration
rule_files:
  - /etc/prometheus/rules/*.yml

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'user-service'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['user-service:3000']

  - job_name: 'auth-service'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['auth-service:3000']

  - job_name: 'game-service'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['game-service:3000']

  - job_name: 'chat-service'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['chat-service:3000']

  - job_name: 'analytics-service'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['analytics-service:3000']
  - job_name: 'data-integrity-service'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['data-integrity-service:3000']

  - job_name: 'api-gateway'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['api-gateway:8000']
  - job_name: 'message-service'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['message-service:3000']

  - job_name: 'socket-service'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['socket-service:8889']

  - job_name: 'pong-socket-service'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['pong-socket-service:9998']

  - job_name: 'avalanche-service'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['avalanche-service:3000']
      
  - job_name: 'nginx-waf'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['waf:9113']
  
  - job_name: 'waf-custom-metrics'
    scheme: http
    metrics_path: '/metrics/waf'
    params:
      format: ['prometheus']
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets: ['waf:80']